@import "bootstrap/scss/bootstrap";

@import "./scss/style";
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

table.test_result td {
	text-align: center;
	padding: 5px;
}

a.course_link {
	text-decoration: underline;
	color: #415871;
}
.alert-alert {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}

.alert-notice {
	color: #0c5460;
	background-color: #d1ecf1;
	border-color: #bee5eb;
}

.skipped {
	background-color: #e9ecef;
	display: flex;
	justify-content: center;
}

.success {
	background-color: #218838;
	display: flex;
	justify-content: center;
}

table td, th {
	text-align: center;
}

body {
	font-family: 'Lato', 'sans-serif';
}

.profile {
	min-height: 355px;
	display: inline-block;
}

figcaption.ratings {
	margin-top:20px;
}

figcaption.ratings a {
	color:#f1c40f;
	font-size:11px;
}

figcaption.ratings a:hover {
	color:#f39c12;
	text-decoration:none;
}

.divider {
	border-top:1px solid rgba(0,0,0,0.1);
}

.emphasis {
	border-top: 4px solid transparent;
}

.emphasis:hover {
	border-top: 4px solid #1abc9c;
}
.emphasis h2 {
	margin-bottom:0;
}
span.tags {
	background: #1abc9c;
	border-radius: 2px;
	color: #f5f5f5;
	font-weight: bold;
	padding: 2px 4px;
}

.dropdown-menu {
	background-color: #34495e;
	box-shadow: none;
	-webkit-box-shadow: none;
	width: 250px;
	margin-left: -125px;
	left: 50%;
}

.dropdown-menu .divider {
	background:none;
}
.dropdown-menu>li>a {
	color:#f5f5f5;
}
.dropup .dropdown-menu {
	margin-bottom:10px;
}
.dropup .dropdown-menu:before {
	content: "";
	border-top: 10px solid #34495e;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	position: absolute;
	bottom: -10px;
	left: 50%;
	margin-left: -10px;
	z-index: 10;
}


