<!-- ##### Popular Course Area Start ##### -->
<section class="popular-courses-area section-padding-100">
    <div class="container">
        <div class="row">

            <% @users.each do |user| %>
                <!-- Single Popular Course -->
                <div class="col-md-3">
                    <div class="card mb-4 shadow-sm">
                        <div class="bd-placeholder-img card-img-top">
                            <% if user.avatar? %>
                                <%= image_tag user.avatar.url, style: "width: 100%, height: 100%; object-fit: cover;" %>
                            <% else %>
                                <img src="img/core-img/user.png" width="100%" height="100%" style="object-fit: cover;">
                            <% end %>
                        </div>
                        <div class="card-body">
                            <p><strong><%= "#{user.first_name} #{user.last_name}" %></strong></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <%= button_to "Перейти", [user], method: :get, class: "btn btn-sm btn-outline-primary" %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>

        </div>
    </div>
</section>