<div style="padding-top:30px;padding-bottom:60px;background-color:#f8f9fa;">
	<div class="d-flex justify-content-center">
		<div class="row"> 
			<div class="row col-12 d-flex"> 
				<div class="col-12 row"> 
					<div class="col-4 d-flex justify-content-center"> 
						<a href="#" data-toggle="modal" data-target="#exampleModal1">Политика конфиденциальности</a>
					</div> 
					<div class="col-4 d-flex justify-content-center"> 
						<a href="#" data-toggle="modal" data-target="#exampleModal2">Отказ от ответственности</a> 
					</div> 
					<div class="col-4 d-flex justify-content-center"> 
						<a href="#" data-toggle="modal" data-target="#exampleModal3">Пользовательское соглашение</a>
					</div> 
				</div>
			</div> 
			<div class="col-12 d-flex justify-content-center" style="margin-top: 30px;"> 
				<div class="">© 2020 Онлайн-Школа Натальи Франтенко</div>
			</div> 
		</div>
	</div>
</div>

<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Политика конфиденциальности</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Настоящая Политика конфиденциальности является составной частью Пользовательского соглашения Сайта и действует в отношении всей информации, в том числе персональных данных Пользователя, получаемых Администрацией Сайта в процессе работы Пользователя с Сайтом, исполнения Пользовательского соглашения и соглашений между Администрацией сайта и Пользователем. Использование Сайта означает безоговорочное согласие Пользователя с настоящей Политикой конфиденциальности и указанными в ней условиями обработки его персональных данных; в случае несогласия с этими условиями Пользователь должен воздержаться от использования Сайта.</p>
                <p>Перед использованием Сайта Пользователю необходимо внимательно изучить настоящую Политику конфиденциальности.</p>
                <h3>Персональные данные</h3>
                <p>
                	<span>Предоставление в любой форме (регистрация на Сайте, осуществление заказов, подписка на рекламные рассылки и тд.) своих персональных данных Администрации сайта, Пользователь выражает согласие на обработку персональных данных Администрацией сайта в соответствии с Федеральным законом "О персональных данных" от 27.07.2006 №152-ФЗ.</span>
                	<span>Обработка персональных данных осуществляется в целях исполнения Пользовательского соглашения и иных соглашений между Администрацией сайта и Пользователем.</span>
                	<span>Обработка персональных данных производится исключительно на территории Российской Федерации, с соблюдением действующего законодательства Российской Федерации.</span>
                	<span>Согласие Пользователя на обработку его персональных данных дается Администрации сайта на срок исполнения обязательств между Пользователем и Администрацией сайта в рамках Пользовательского соглашения или других соглашений между Пользователем и Администрацией сайта.</span>
                	<span>В случае отзыва согласия на обработку персональных данных Пользователя, Пользователь уведомляет об этом Администрацию Сайта письменно или по электронной почте. После получения данного уведомления Администрация Сайта прекращает обработку персональных данных Пользователя и удаляет.</span>
                	<span>Сайт не имеет статуса оператора персональных данных. Персональные данные Пользователя не передаются каким-либо третьим лицам, за исключением случаев, прямо предусмотренных настоящей Политикой конфиденциальности.</span>
                </p>
                <h3>Меры по защите персональных данных</h3>
				<p>
					<span>В своей деятельности Администрация сайта руководствуется Федеральным законом "О персональных данных" от 27.07.2006 №152-ФЗ.</span>
					<span>Администрация сайта принимает все разумные меры по защите персональных данных Пользователей и соблюдает права субъектов персональных данных, установленные действующим законодательством Российской Федерации.</span>
					<span>Защита персональных данных Пользователя осуществляется с использованием физических, технических и административных мероприятий, нацеленных на предотвращение риска потери, неправильного использования, несанкционированного доступа, нарушения конфиденциальности и изменения данных. Меры обеспечения безопасности включают в себя межсетевую защиту и шифрование данных, контроль физического доступа к центрам обработки данных, а также контроль полномочий на доступ к данным.</span>
				</p>
				<h3>Изменение политики конфиденциальности</h3>
    			<p>Администрация сайта оставляет за собой право в одностороннем порядке вносить любые изменения в Политику конфиденциальности без предварительного уведомления Пользователя. Актуальный текст Политики конфиденциальности размещен на данной странице.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Отказ от ответственности</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Cайт и его функционал, включая все скрипты, приложения, контент и оформление сайта поставляются «как есть». Администрация отказывается от всяких гарантий того, что сайт или его функционал могут подходить или не подходить для конкретных целей использования. Администрация не может гарантировать и не обещает никаких специфических результатов от использования сайта и/или его функционала.</p>
                <p>Используя сайт, пользователь соглашается с тем, что скачивает с сайта или с его помощью любые материалы на свой собственный риск и несет личную ответственность за возможные последствия использования указанных материалов, в том числе за ущерб, который это может причинить компьютеру пользователя или третьим лицам, за потерю данных или любой другой вред.</p>
                <p>Ни при каких обстоятельствах Администрация Сайта не будет нести ответственности ни перед какой стороной за какой-либо прямой, непрямой, особый или иной косвенный ущерб в результате любого использования информации на этом Сайте или на любом другом сайте, на который имеется гиперссылка с нашего cайта, возникновение зависимости, снижения продуктивности, увольнения или прерывания трудовой активности, а равно и отчисления из учебных учреждений, за любую упущенную выгоду, приостановку хозяйственной деятельности, потерю программ или данных в Ваших информационных системах или иным образом, возникшие в связи с доступом, использованием или невозможностью использования Сайта, Содержимого или какого-либо связанного интернет-сайта, или неработоспособностью, ошибкой, упущением, перебоем, дефектом, простоем в работе или задержкой в передаче, компьютерным вирусом или системным сбоем, даже если Администрация будет явно поставлена в известность о возможности такого ущерба.</p>
                <p>Пользователь соглашается с тем, что все возможные споры будут разрешаться по нормам действующего законодательства.</p>
                <p>Пользователь соглашается с тем, что нормы и законы о защите прав потребителей не могут быть применимы к использованию им Сайта, поскольку он не оказывает возмездных услуг.</p>
                <p>Используя данный Сайт, Вы выражаете свое согласие с «Отказом от ответственности» и установленными Правилами и принимаете всю ответственность, которая может быть на Вас возложена.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel3">Политика конфиденциальности</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Настоящее пользовательское соглашение (далее - «Соглашение») регулирует порядок работы настоящего сайта (далее - «Сайт»), определяет условия использования материалов и сервисов Сайта. Администратор Сайта указывает информацию о себе, а также, контактные данные для обратной связи на Сайте. Настоящее Соглашение является публичной офертой в соответствии с действующим законодательством Российской Федерации. Совершение конклюдентных действий физическими, либо юридическими лицами (далее - «Пользователь»), направленных на использование Сайта считается безусловным принятием (акцептом) данного Соглашения. Настоящим Пользователь подтверждает, что акцепт Соглашения равносилен подписанию и заключению Соглашения на условиях, изложенных в настоящем Соглашении.</p>
                <h3>Условия использования сайта</h3>
                <p>
                	<span>Использование любых материалов и сервисов Сайта регулируется нормами действующего законодательства Российской Федерации. Материалы и сервисы Сайта предназначены исключительно для использования в законных целях.</span>
	                <span>Пользователь вправе по своему усмотрению знакомиться с материалами сайта и сервисами Сайта, заказывать и приобретать товары и/или услуги предлагаемые на Сайте.</span>
	                <span>Пользователь соглашается использовать Сайт, не нарушая имущественных и/или неимущественных прав третьих лиц, а равно запретов и ограничений, установле­­­­­­­­­­нных применимым правом, включая без ограничения: авторские и смежные права, права на товарные знаки, знаки обслуживания и наименования мест происхождения товаров, права на промышленные образцы, права использовать изображения людей, а также любых действий, которые приводят или могут привести к нарушению нормальной работы Сайта и сервисов Сайта, в частности используя программы для вмешательства или попытки вмешательства в процесс нормального функционирования Сайта.</span>
	                <span>Использование материалов Сайта без согласия правообладателя не допускается. Для правомерного использования материалов Сайта необходимо согласие Администратора сайта или правообладателя материалов.</span>
	                <span>При наличии технической возможности Пользователь вправе оставлять комментарии и иные записи на Сайте. Пользователь гарантирует, что комментарии или иные записи не нарушают применимого законодательства, не содержат материалов незаконного, непристойного, клеветнического, дискредитирующего, угрожающего, порнографического, враждебного характера, а также содержащих домогательства и признаки расовой или этнической дискриминации, призывающих к совершению действий, которые могут быть квалифицированы как уголовные преступления, равно как и считаться недопустимыми по иным причинам, материалов, пропагандирующих культ насилия и жестокости, материалов, содержащих нецензурную брань. Администрация Сайта не обязуется проводить предварительную модерацию материалов и записей на Сайте Пользователями. За комментарии и записи на Сайте оставленные Пользователем, Пользователь несет ответственность самостоятельно и в полном объеме.</span>
	                <span>Администратор Сайта не несет ответственности за посещение и использование Пользователем внешних ресурсов, ссылки на которые могут содержаться на Сайте, Пользователь переходит по ссылкам содержащимся на Сайте на внешние ресурсы, по своему усмотрению на свой страх и риск.</span>
	                <span>Пользователь согласен с тем, что Администрация Сайта не несет ответственности перед Пользователем в связи с любыми возможными или возникшими потерями или убытками, связанными с любым содержанием Сайта, товарами или услугами, доступными на Сайте или полученными через внешние сайты или ресурсы, либо иные контакты Пользователя, в которые он вступил, используя размещенную на Сайте информацию или ссылки на внешние ресурсы.</span>
	                <span>Предоставление в любой форме (регистрация на Сайте, осуществление заказов, подписка на рекламные рассылки и т.д.) своих персональных данных Администрации сайта, Пользователь выражает согласие на обработку персональных данных Администрацией сайта в соответствии с Федеральным законом "О персональных данных" от 27.07.2006№152-ФЗ. Обработка персональных данных Пользователя регулируется действующим законодательством Российской Федерации и Политикой конфиденциальности Сайта.</span>
	                <span>Администратор Сайта вправе в любое время в одностороннем порядке, без каких либо уведомлений Пользователя, изменять содержимое Сайта, а также изменять условия настоящего Соглашения. Такие изменения вступают в силу с момента размещения новой версии Соглашения на данной странице. Актуальная версия Соглашения всегда расположена на данной странице. Для избежания споров по поводу изменения Соглашения Администратор Сайта рекомендует периодически ознакамливаться с содержимым Соглашения расположенного на данной странице. При несогласии Пользователя с внесенными изменениями он обязан отказаться от использования Сайта.</span>
	                <span>Администратор Сайта вправе в одностороннем порядке ограничивать доступ Пользователя на Сайт, если будет обоснованно считать, что Пользователь ведет неправомерную деятельность. Кроме того, администратор вправе удалять материалы Пользователей по требованию уполномоченных органов государственной власти или заинтересованных лиц в случае, если данные материалы нарушают применимое законодательство или права третьих лиц.</span>
	                <span>Администратор Сайта и Пользователь несут ответственность за неисполнение или ненадлежащее исполнение своих обязательств в соответствии с Соглашением и действующим законодательством Российской Федерации. Администратор Сайта не несет ответственность за технические перебои в работе Сайта, вместе с тем Администратор Сайта обязуется принимать все разумные меры для предотвращения таких перебоев.</span>
	                <span>Все возможные споры, вытекающие из настоящего Соглашения или связанные с ним, подлежат разрешению в соответствии с действующим законодательством Российской Федерации.</span>
	                <span>Все данные, размещенные или размещаемые на настоящем Сайте, находятся на оборудовании находящемся на территории Российской Федерации.
    </span>
	                <span>Администратор вправе прекращать работу Сайта, а равно частично или полностью прекращать доступ к сайту до завершения необходимого технического обслуживания и (или) модернизации Сайта.</span>
	                <span>Совершая действия по принятию настоящего Соглашения (оферты), Пользователь гарантирует, что ознакомлен, соглашается, полностью и безоговорочно принимает все условия Соглашения в целом, обязуется их соблюдать.</span>
	            </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>