<h3>Статистика по курсу <%= link_to @course.title, [@course], {style: 'font-size: 1em;'} %></h3>
<% #if !@user.is_admin? %>
	<canvas id="chart" width="100" height="50"></canvas>
	<script>
	$(document).ready(function() {
		$.ajax({
			url: '<%= "#{root_url}api/users/#{@user.id}/courses/#{@course.id}" %>',
			contentType: "application/json",
			success: function(result) {
				var ctx = document.getElementById('chart');
				var chart = new Chart(ctx, {
				    type: 'pie',
					data: {
						labels: ['Уроков пройдено '+result["done_lessons"], 'Уроков осталось пройти '+result["undone_lessons"]],
						datasets: [{
							label: 'Процент прохождения курса',
							data: [result["percent"], result["_percent"]],
							backgroundColor: [
								"#63FF84",
								"#FF6384"
							]
						}]
					},
					options: {
						title: {
							display: true,
							text: 'Employee Overview',
							fontStyle: 'bold',
							fontSize: 20
						},
						tooltips: {
							callbacks: {
								label: function(tooltipItem, data) {
									// get the data label and data value to display
									// convert the data value to local string so it uses a comma seperated number
									var value = "";
									if (tooltipItem.index == 0) {
										value = 'Пройдено ' + result["percent"] + "% курса";
									} else {
										value = "Осталось пройти " + result["_percent"] + "% курса";
									}

									// return the text to display on the tooltip
									return value;
								}
							}
						}
						
					},
				});
			}
		});
	})
	</script>
<% #else %>
	<!--<h4>Администратор сайта</h4>-->
<% #end %>