<!-- ##### Hero Area Start ##### -->
<section class="hero-area bg-img bg-overlay-2by5" style="background-image: url(img/bg-img/bg1.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <!-- Hero Content -->
                <div class="hero-content text-center">
                    <div class="d-flex justify-content-center mb-2">
                        <div style="background-color: #f8f9fa; border-radius: 10px; padding-left: 10px; padding-right: 10px;">
                            <h2 style="color: #005da6; font-size: 45px;">Онлайн-школа</span><br/>Натальи Франтенко</span></h2>
                        </div>
                    </div>
                    <%= link_to "Начать", new_user_path, class: "btn clever-btn" %>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Hero Area End ##### -->

<!-- ##### Popular Courses Start ##### -->
<section class="popular-courses-area section-padding-100-0" style="background-image: url(img/core-img/texture.png);">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h3>Дисциплины нашей онлайн-школы</h3>
                </div>
            </div>
        </div>

        <div class="row">

            <% Course.take(2).each do |course| %>
                <!-- Single Popular Course -->
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="250ms">
                        <!--<img src="img/bg-img/c1.jpg" alt="">-->
                        <!-- Course Content -->
                        <div class="course-content">
                            <h4 style="text-align: center;"><%= course.title %></h4>
                        </div>
                        <!-- Seat Rating Fee -->
                        <div class="seat-rating-fee d-flex justify-content-between">
                            <div class="course-fee h-100 w-100">
                                <%= link_to "Перейти", [course], class: "free w-100" %>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>

        </div>
    </div>
</section>
<!-- ##### Popular Courses End ##### -->

<!-- ##### Best Tutors Start ##### -->
<section class="best-tutors-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h3>Наши пользователи</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="row">
                <% User.take(4).each do |teacher| %>
                    <!-- Single Tutors Slide -->
                    <div class="col-12 col-md-6 col-lg-3 d-flex align-items-center justify-content-center">
                        <!-- Tutor Thumbnail -->
                        <div>
                            <div class="tutor-thumbnail d-flex justify-content-center" style="height: 200px; width: 200px;">
                                <img src="img/core-img/user.png" width="100%" height="100%" style="object-fit: cover;">
                            </div>
                            <!-- Tutor Information -->
                            <div class="text-center">
                                <h5><%= link_to "#{teacher.full_name}", [teacher] %></h5>
                            </div>
                        </div>
                    </div>
                <% end %>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Best Tutors End ##### -->
