<!-- About Curriculum -->
<div class="about-curriculum mb-30">
    <h4>Лекция</h4>
    <% if lesson.video_lection != "" %>
        <div><iframe width="100%" height="400px;" src="<%= @lesson.video_lection.html_safe %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    <% else %>
        <div>Видео-лекция отсутствует</div>
    <% end %>
</div>

<!-- Curriculum Level -->
<div class="curriculum-level mb-30">
    <% if lesson.text_lections.any? %>
        <h4>Текстовые лекции</h4>
        <% lesson.text_lections.each do |lection| %>
        <p>
            <%= link_to "Скачать \"#{lection.title}\"", "#{root_url}#{lection.lection.url}", style: "text-decoration: underline; color: blue;" %>        
        </p>
        <% end %>
    <% else %>
        <p>Текстовая лекция отсутствует</p>
    <% end %>
</div>

<% if lesson.lection_links? %>
    <h4>Полезные ссылки</h4>
    <div class="curriculum-level mb-30">
        <% lesson.lection_links.split.each_with_index do |link, index| %>
            <p><%= link_to "Ссылка #{index + 1}", link, style: "text-decoration: underline" %></p>
        <% end %>
    </div>
<% end %>