<p>Здравствуйте, <%= @resource.email %>!</p>

<p>Кто-то перешел по ссылке для сброса Вашего пароля, перейдите по ссылке ниже, чтобы сбросить его</p>

<p><%= link_to 'Сбросить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если по ссылке перешли не вы, то проигнорируйте это письмо</p>
